main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vw;
    // background: red;
    .page-title{
        text-align: center;
        margin-top: -40vw;
    }
    .primary-button{
        margin-top: 2vw;
        svg{
            transform: rotate(180deg);
            margin-right: 1vw;
        }
    }
    img{
        // width: 100%;
        position: absolute;
        top: 0%;
        overflow: hidden;
    }

}
