.projects-title-container{
    width: 100%;
    padding: 10vw 10vw 2vw 10vw;
}
.chips-wrapper{
    padding-left: 9.5vw;
}
.projects-section-main{
    position: relative;
    height: auto;
    width: 100%;
    padding: 0vw 9.5vw 4vw 9.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .chips-container{
        display: flex;
        margin-bottom: -2vw;
    }
    .project-section-title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:  0.5vw;
        svg{
            height: 1.5vw;
        }
    }
    .project-card-row{
        display: flex;
        flex-wrap: wrap;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        margin-top: 3.7vw;
        gap: 2vw;
        a{
            text-decoration: none;
            width: fit-content;
        }
        .project-card{
            position: relative;
            width: 18vw;
        }
    }
}
