.soon{
    // background: ;
    background-image: url(/assets/images/comingsoonbg.png), linear-gradient(105.14deg, #000000 21.49%, #5D2BAB 169.37%);
    background-position: center;
    background-size: 70%, contain;
    background-repeat: no-repeat;
    background-attachment: local, scroll;
    position: relative;
}
.commingsoon-main{
    padding: 9.5vw!important;
    // background: red;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    // height: 0vw;
    .page-title{
        padding: 1vw;
        position: fixed;
        top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 0.4vw;
        background: rgba(166, 157, 157, 0.082);
        backdrop-filter: blur(4.5px);
    }
    .primary-button{
        margin-top: 2vw;
        svg{
            transform: rotate(180deg);
            margin-right: 1vw;
        }
    }
}
.soon-footer{
    position: absolute;
    bottom: 0%;
    width: 100vw;
    section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: red;
    }
}
