.about-title-container{
    width: 100%;
    padding: 10vw 10vw 2vw 10vw;
}
main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 8vw;
    .about-card-title{
        display: flex;
        gap: 1vw;
    }
    .about-items-left{
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .bio{
            display: flex;
            width: 40vw;
            height: 100%;
            padding: 1.5vw;
            justify-content: center;
            align-items: flex-start;
            gap: 1.5vw;
            flex-shrink: 0;
            border-radius: 0.5vw;
            background-repeat: no-repeat;
            // border: 0.06vw solid #2A2240;
            // background: #0a0118;
            background-image: url(/assets/images/bio-items-left.png);
            background-size: cover;
            backdrop-filter: blur(0.6vw);
            .bio-items-left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1vw;
                align-self: stretch;
                .bio-img{
                    height: 6.5vw;
                }
                .favorite-tools{
                    display: flex;
                    align-items: center;
                    gap: 1vw;
                }
            }
            .bio-items-right{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1 0 0;
                align-self: stretch;

                .bio-text-1{
                    margin-top: 0.8vw;
                    color: #A89CAE!important;
                }
                .bio-text-2{
                    margin-top: 1.8vw;
                    color: #A89CAE!important;
                }
                .bio-text-3{
                    margin-top: 1.8vw;
                    color: #A89CAE!important;
                }
            }
        }
        .education{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%!important;
            width: 40vw;
            padding: 1.5vw;
            justify-content: center;
            gap: 1.5vw;
            border-radius: 0.5vw;
            // border: 0.06vw solid #2A2240;
            background-image: url(/assets/images/education.png);
            background-size: cover;
            backdrop-filter: blur(0.6vw);
            .darkened-text{
                color: #A89CAE!important;
            }
        }
        .experience-years{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: auto;
            width: 40vw;
            padding: 1.5vw;
            justify-content: center;
            gap: 1.5vw;
            border-radius: 0.5vw;
            // border: 0.06vw solid #2A2240;
            background-image: url(/assets/images/cv-experience.png);
            background-size: cover;
            backdrop-filter: blur(0.6vw);
            .experience-row{
                width: 100%;
                display: flex;
                flex-direction: rows;
                justify-content: space-between;
                .experience-token{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .xp{
                        width: fit-content;
                        margin-top: 0.5vw;
                        text-align: center;
                        padding: 0.1vw 0.5vw 0.1vw 0.5vw;
                        background:  #593fff20;
                        border-radius: 0.2vw;
                        color: white;
                    }
                }
            }
        }
    }
    .about-items-right{
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .skills{
            display: flex;
            flex-direction: column;
            width: 40vw;
            padding: 1.5vw;
            justify-content: center;
            align-items: flex-start;
            gap: 1.5vw;
            border-radius: 0.5vw;
            // border: 0.06vw solid #2A2240;
            background-image: url(/assets/images/skill-interests.png);
            background-size: cover;
            backdrop-filter: blur(0.6vw);
            h3{
                width: 100%!important;
                line-height: normal;
            }
            p{
                color: #A89CAE!important;
            }
        }
        .experience{
            display: flex;
            flex-direction: column;
            width: 40vw;
            height: 29.5vw;
            padding: 1.5vw;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1.5vw;
            flex-shrink: 0;
            border-radius: 0.5vw;
            // border: 0.06vw solid #2A2240;
            background-image: url(/assets/images/experience.png);
            background-size: cover;
            background-repeat: no-repeat;
            backdrop-filter: blur(0.6vw);
            p{
                color: #A89CAE!important;
            }
        }
    }
}
