.primary-button{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 1.5vw;

    width: fit-content;
    height: fit-content;

    color: $white;
    text-decoration: none;

    background: $primaryColor;
    box-shadow: 0vw 0vw 2.7vw rgba(90, 63, 255, 0.41);
    border-radius: 0.3vw;
    transition: 0.5s;
    svg{
        height: 1vw!important;
    }
    .folder-open{
        display: none;
    }
    p{
        width: 100%;
        font-size: 1vw;
    }
    &:hover{
        background: lighten($primaryColor, 5%);
        transition: 0.5s;
        transform: translatey(3px);
        .folder-closed{
            display: none;
        }
        .folder-open{
            display: flex;
        }
    }
}
.secondary-button{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 1.5vw;
    gap: 0.6vw;

    width: fit-content;
    height: fit-content;

    text-decoration: none;

    border: 0.07vw solid $white;
    border-radius: 0.3vw;
    transition: 0.5s;
    p{
        width: max-content;
        font-size: 0.8vw;
        color: $primaryColor!important;
    }
    &:hover{
        background: darken($white, 90%);
        transition: 0.5s;
        transform: translatey(3px);
    }
}
.project-button{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 1.5vw;
    gap: 0.6vw;

    width: 100%!important;
    height: fit-content;

    color: $white;
    text-decoration: none;

    border-radius: 0.3vw;
    transition: 0.5s;
    text-align: center;
    svg{
        height: 1.2vw;
      fill: white;
    }
    .book-opened{
        display: none;
    }

    &:hover{
        background: lighten($primaryColor, 5%);
        transition: 0.5s;
        transform: translatey(3px);
        .book-closed{
            display: none;
        }
        .book-opened{
            display: flex;
        }
    }
}
.resume-button{
    margin-left: 1.5vw;
    display: flex;
    padding: 0.03vw;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
    border-radius: 0.15vw;
    background: linear-gradient(90deg, #5A3FFF 0%, #BB3CF7 100%);
    text-decoration: none;
    transition: 0.5s;
    .text-wrapper{
        display: flex;
        padding: 0.3vw 0.46vw 0.3vw 0.46vw;
        justify-content: center;
        align-items: center;
        gap: 0.3vw;
        border-radius: 0.15vw;
        background: #1A1128;
        transition: 0.5s;
        p{
            transition: 0.5s;
            background: linear-gradient(90deg, #5A3FFF 0%, #BB3CF7 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 0.8vw!important;
            font-weight: 600;
        }
        svg{
            transition: 0.5s;
            fill: #BB3CF7;
        }
        &:hover{
            transition: 0.5s;
            background: linear-gradient(90deg, #5A3FFF 0%, #BB3CF7 100%);
            p{
                transition: 0.5s;
                background: white;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            svg{
                transition: 0.5s;
                fill: white;
            }
        }
    }
}
.text-button{
    padding: 0;
    background: none;
    border: none;
    transition: 0.5s;
    a{            
        transition: 0.5s;
        font-family: Montserrat;
        font-size: 1vw;
        text-decoration:none;
        font-weight: 400;
        color: $white;
        display: flex;
        align-items: center;
        width: fit-content;
        svg{
            height: 1.2vw!important;
            fill: $white;
            transition: 0.5s;
        }
        &:hover{
            color: $primaryColor;
            transition: 0.5s;
            svg{
                fill: $primaryColor;
                transform: translateX(0.3vw);
                transition: 0.5s;
            }
        }
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 3.6vw;
    height: 1.8vw;
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    /* The slider */
    .slider {
        border-radius: 0.3vw;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        border-radius: 0.3vw;
        position: absolute;
        content: "";
        height: 1.2vw;
        width: 1.4vw;
        left: 0.3vw;
        bottom: 0.3vw;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #5A3FFF;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #5A3FFF;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(1.6vw);
        -ms-transform: translateX(1.6vw);
        transform: translateX(1.6vw);
        content: "";
      }    
}
  
  
  
  

  
