.primary-button{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 1.5vw;

    width: fit-content;
    height: fit-content;

    color: $white;
    text-decoration: none;

    background: $primaryColor;
    box-shadow: 0vw 0vw 2.7vw rgba(90, 63, 255, 0.41);
    border-radius: 0.3vw;
    transition: 0.3s;
    svg{
        height: 1vw!important;
    }
    .folder-open{
        display: none;
    }
    p{
        width: 100%;
        font-size: 1vw;
    }
    &:hover{
        background: lighten($primaryColor, 5%);
        transition: 0.3s;
        transform: translatey(3px);
        .folder-closed{
            display: none;
        }
        .folder-open{
            display: flex;
        }
    }
}
.secondary-button{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 1.5vw;
    gap: 0.6vw;

    width: fit-content;
    height: fit-content;

    border: 0.07vw solid $white;
    border-radius: 0.3vw;
    transition: 0.3s;
    text-decoration: none!important;
    
    a{
        p{
            width: max-content;
            font-size: 0.8vw;
            color: $white!important;
        }
    }
    &:hover{
        background: rgba(255, 255, 255, 0.245);
        transition: 0.3s;
        transform: translatey(3px);
    }
}
.project-button{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 1.5vw;
    gap: 0.6vw;

    width: 100%!important;
    height: fit-content;

    color: $white;
    text-decoration: none;

    border-radius: 0.3vw;
    transition: 0.3s;
    text-align: center;
    svg{
        height: 1.2vw;
      fill: white;
    }
    .book-opened{
        display: none;
    }

    &:hover{
        background: lighten($primaryColor, 5%);
        transition: 0.3s;
        transform: translatey(3px);
        .book-closed{
            display: none;
        }
        .book-opened{
            display: flex;
        }
    }
}
.resume-button{
    margin-left: 1.5vw;
    display: flex;
    padding: 0.1vw;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
    border-radius: 0.15vw;
    background: linear-gradient(90deg, #5A3FFF 0%, #BB3CF7 100%);
    text-decoration: none;
    transition: 0.3s;
    .text-wrapper{
        display: flex;
        padding: 0.3vw 0.46vw 0.3vw 0.46vw;
        justify-content: center;
        align-items: center;
        gap: 0.3vw;
        border-radius: 0.15vw;
        background: #1A1128;
        transition: 0.3s;
        p{
            transition: 0.3s;
            background: linear-gradient(90deg, #5A3FFF 0%, #BB3CF7 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 0.8vw!important;
            font-weight: 600;
        }
        svg{
            transition: 0.3s;
            fill: #BB3CF7;
        }
        &:hover{
            transition: 0.3s;
            background: linear-gradient(90deg, #5A3FFF 0%, #BB3CF7 100%);
            p{
                transition: 0.3s;
                background: white;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            svg{
                transition: 0.3s;
                fill: white;
            }
        }
    }
}
.text-button{
    padding: 0;
    background: none;
    border: none;
    transition: 0.3s;
    a{            
        transition: 0.5s;
        font-family: Montserrat;
        font-size: 1vw;
        text-decoration:none;
        font-weight: 400;
        color: $white;
        display: flex;
        align-items: center;
        width: fit-content;
        svg{
            height: 1.2vw!important;
            fill: $white;
            transition: 0.3s;
        }
        &:hover{
            color: $primaryColor;
            transition: 0.3s;
            svg{
                fill: $primaryColor;
                transform: translateX(0.3vw);
                transition: 0.3s;
            }
        }
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 3.6vw;
    height: 1.8vw;
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    /* The slider */
    .slider {
        border-radius: 0.3vw;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        border-radius: 0.3vw;
        position: absolute;
        content: "";
        height: 1.2vw;
        width: 1.4vw;
        left: 0.3vw;
        bottom: 0.3vw;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #5A3FFF;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #5A3FFF;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(1.6vw);
        -ms-transform: translateX(1.6vw);
        transform: translateX(1.6vw);
        content: "";
      }    
}
.chip {
    z-index: 100!important;
    display: inline-flex;
    align-items: center;
    background-color: transparent; /* Transparent background */
    border: 2px solid #fff; /* White stroke */
    border-radius: 16px;
    padding: 8px 16px; /* Adjusted padding */
    margin: 4px; /* Add some margin between chips */
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    font-family: Montserrat;
    font-size: 1vw;
    font-weight: 500;

    &:hover {
        background-color: rgba(255, 255, 255, 0.129); /* Slight gray on hover */
    }

    &.selected {
        background-color: #fff; /* White background for selected chips */
        border-color: #fff; /* White border for selected chips */
        color: #000; /* Black text for selected chips */

        .chip-label {
            margin-left: 8px; /* Add 8px spacing between the check and text */
            color: #000; /* Black text for selected chips */
        }

        .check-icon {
            fill: #000; /* Black checkmark for selected chips */
            display: block; /* Display the checkmark for selected chips */
        }
    }

    .chip-label {
        color: #fff; /* White text for unselected chips */
    }

    .check-icon {
        // margin-right: 8px;
        width: 24px;
        height: 24px;
        display: none; /* Initially, hide the checkmark icon */
        fill: #fff; /* White checkmark for unselected chips */
    }
}
.message-box{
    z-index: 2;
    position: absolute;
    visibility: hidden;
    width: fit-content;
    color: white;
    padding: 0.5vw;
    border-radius: 0px 4px 4px 4px;
    border: 1px solid #4E4C4C;
    background: #453E41;
}
.reveal{
    position: absolute;
    padding: 0vw 0.7vw;
    border-radius: 224px;
    background: rgba(166, 157, 157, 0.30);
    box-shadow: 0px 4px 20px 0px #000;
    backdrop-filter: blur(4.5px);
    font-size: 1.5vw;
    color: white;
    transition: 0.3s;

    &:hover{
        cursor: pointer;
        background: #5A3FFF;
        transition: 0.3s;
        + .message-box {
            visibility: visible;
          }
    }
}
.github-button{
    margin-top: 1vw;
    display: flex;
    gap: 0.5vw;
    width: fit-content;
    svg{
        width: 1.5vw;
    }
    padding: 1vw;
    border: solid 1px white;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 0.5vw;
    text-decoration: none;
    transition: 0.3s;
    &:hover{
        background: rgba(255, 255, 255, 0.242);
        transition: 0.3s;
    }
}
.project-buttons-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;    
    padding: 2vw 9.5vw 4vw 9.5vw;
    .flip-arrow{
        transform: rotate(180deg);
    }
    .secondary-button{
        display: flex;
        gap: 1vw;
        align-items: center;
        svg{
            fill: white;
        }
    }
}
.project-navigation-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.5vw;
    gap: 1vw;
    padding: 1vw;
    border-radius: 0.2vw;
    border: 0.04vw solid rgba(255, 204, 106, 0.16);
    background: rgba(255, 204, 106, 0.10);
    text-decoration: none!important;
    transition: 0.3s;
    p{
        color: #FFCC6A;
    }
    .icon-wrapper{
        padding: 1vw;
        border-radius: 0.2vw;
        background: rgba(255, 204, 106, 0.10);
        svg{
            fill: #FFCC6A;
            height: 1.5vw;
        }
        .icon-start{
            display: flex;
        }
        .icon-end{
            display: none;
        }
    }
    &:hover{
        transition: 0.3s;
        border-radius: 0.2vw;
        border: 0.04vw solid rgba(255, 204, 106, 0.16);
        background: rgba(255, 204, 106, 0.20);
        box-shadow: 0px 4px 42px 0px rgba(255, 204, 106, 0.20);
        .icon-start{
            display: none;
        }
        .icon-end{
            display: flex;
        }
    }
}
.accordion {
    width: 100%;
    margin: 1vw auto;
    display: flex;
    flex-direction: column;
    gap: 1vw;

    .section {
        border-radius: 0.2vw;
        border: 0.04vw solid rgba(255, 204, 106, 0.16);

        .section-header {
            display: flex;
            align-items: center;
            border-radius: 0.2vw;
            padding: 10px;
            font-weight: bold;
            cursor: pointer;
            background: rgba(255, 204, 106, 0.10);

            p{
                padding: 1vw;
                color: #FFCC6A;
            }
            svg{
                height: 1vw;
                fill: #FFCC6A;
            }
        }
        // .red{
        //     background-color: rgba(253, 115, 115, 0.463);
        // }
        // .green{
        //     background-color: rgba(126, 253, 126, 0.463);
        // }
        .section-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            .content-inner{
                padding: 1vw;
            }
        }

        &.active .section-content {
            max-height: 200px; // Adjust as needed
            transition: max-height 0.3s ease;

        }
    }
}
.solution-pill{
    background: rgba(255, 204, 106, 0.10);
    width: fit-content;
    border-radius: 0.2vw;
    padding: 0.4vw;
    p{
        color: #FFCC6A;
    }
}
// RESPONSIVE
@media (max-width: 768px){
    .primary-button{
        width: 100%;
        padding: 3vw;
        gap: 2vw;
        border-radius: 1vw;

        svg{
            height: 5vw!important;
        }
    }
    .secondary-button{
        width: 100%;
        padding: 3vw 3vw;
        gap: 0.6vw;
        border: none;
        border-radius: 1vw;
    }
    .chips-wrapper{
        width: 100vw; /* Adjust this width as needed */
        padding-left: 0vw!important;
        .chips-container{
            // white-space: nowrap; /* Prevent chips from wrapping to the next line */
            -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
            scrollbar-width: none; /* Hide the scrollbar on Firefox */
            -ms-overflow-style: none; /* Hide the scrollbar on IE/Edge */
            overflow-x: auto; /* Enable horizontal scrolling */
            padding-left: 8vw;
            padding-right: 13vw;
            padding-bottom: 8vw;

            &::-webkit-scrollbar {
              width: 0px; /* Hide the scrollbar on Webkit browsers */
            }
            .chip {
                margin-right: 10px; /* Add some spacing between chips */
                border: 0.4vw solid #fff; /* White stroke */
                border-radius: 2vw;
                height: fit-content;
                margin: 1vw; /* Add some margin between chips */
                font-size: 4vw;
        
            &.selected {
                 .chip-label {
                    margin-left: 1vw; /* Add 8px spacing between the check and text */
                }
            }
    
            .check-icon {
                margin-left: -2vw;
                height: 4vw;
                display: none; /* Initially, hide the checkmark icon */
                fill: #fff; /* White checkmark for unselected chips */
            }
        }
        }
    }
    .github-button{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 4vw;
                border-radius: 1vw;

        svg{
            width: 5vw!important;
        }
    }
    .project-navigation-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1vw;
        padding: 2vw;
        border-radius: 1vw;
        border: 0.04vw solid rgba(255, 204, 106, 0.16);
        background: rgba(255, 204, 106, 0.10);
        text-decoration: none!important;
        transition: 0.3s;
        p{
            font-size: 3vw!important;
            color: #FFCC6A;
        }
        .icon-wrapper{
            padding: 1vw;
            border-radius: 0.2vw;
            background: rgba(255, 204, 106, 0.10);
            svg{
                fill: #FFCC6A;
                height: 3vw;
            }
            .icon-start{
                display: flex;
            }
            .icon-end{
                display: none;
            }
        }
        &:hover{
            transition: 0.3s;
            border-radius: 0.2vw;
            border: 0.04vw solid rgba(255, 204, 106, 0.16);
            background: rgba(255, 204, 106, 0.20);
            box-shadow: 0px 4px 42px 0px rgba(255, 204, 106, 0.20);
            .icon-start{
                display: none;
            }
            .icon-end{
                display: flex;
            }
        }
    }
    .accordion {
        width: 100%;
        margin: 1vw auto;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    
        .section {
            border-radius: 0.2vw;
            border: 0.04vw solid rgba(255, 204, 106, 0.16);
    
            .section-header {
                display: flex;
                align-items: center;
                border-radius: 0.2vw;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                background: rgba(255, 204, 106, 0.10);
    
                p{
                    padding: 1vw;
                    color: #FFCC6A;
                }
                svg{
                    height: 3vw;
                    fill: #FFCC6A;
                }
            }
            // .red{
            //     background-color: rgba(253, 115, 115, 0.463);
            // }
            // .green{
            //     background-color: rgba(126, 253, 126, 0.463);
            // }
            .section-content {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease;
                .content-inner{
                    padding: 2vw;
                }
            }
    
            &.active .section-content {
                max-height: 200px; // Adjust as needed
                transition: max-height 0.3s ease;
    
            }
        }
    }
}
  
  
  

  
