.skill-card{
  display: flex;
  width: 24vw;
  padding: 2.5vw 6.2vw 2.5vw 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3vw;
  border-radius: 0.6vw;
  border: 0.07vw solid #2A2240;
  background: rgba(26, 9, 38, 0.60);
  backdrop-filter: blur(0.7vw);
    svg{
        fill: white;
        height: 1.8vw;
        width: auto;    
    }
    h3{
        color: #FFFFFF;
        text-align: center;
    }
    p{
        color: #656565;
    }
    &:hover{
        border: 0.07vw solid #5A3FFF;
        transition: 0.5s ease-in-out;
    }
}
.project-card{
    position: relative;
    display: flex;
    width: 21.9vw;
    // height: auto;
    height: 30vw;
    padding: 1.25vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.6vw;
    border: 0.07vw solid #2A2240;
    background: #1E0C30;
    box-shadow: 0vw 0vw 0vw 0vw rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 8px 5px 0px rgba(0, 0, 0, 0.05), 0px 14px 6px 0px rgba(0, 0, 0, 0.01), 0px 22px 6px 0px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(0.7vw);
    img{
        width: 100%;
        height: auto;
    }
    .coming-soon-wrapper{
        display: flex;
        gap: 1vw;
        .coming-soon{
            margin-top: -0.3vw;
            display: flex;
            padding: 4px 6px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            background: rgba(179, 179, 179, 0.10);
            color: white;
            font-family: Source Code Pro;
        }
    }
    h3{
        font-weight: 700;
    }
    .card-description{
        color: #C8C8C8;
        font-family: Source Code Pro;
        font-size: 0.95vw;
    }
    .tags{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 0.5vw;
        .tags-row{
            width: 100%;
            display: flex;
            gap: 0.5vw;
            .tag-regular:nth-child(1){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(94, 183, 145, 0.10);
                color: #5EB791;
            }
            .tag-regular:nth-child(2){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(187, 60, 247, 0.10);
                color: #BB3CF7;
            }
        }
        .tags-row2{
            width: 100%;
            display: flex;
            gap: 0.5vw;
            .tag-regular:nth-child(1){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(255, 204, 106, 0.10);
                color: #FFCC6A;
            }
            .tag-regular:nth-child(2){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(247, 60, 172, 0.10);
                color: #F73CAC;
            }
        }
        .tags-row3{
            width: 100%;
            display: flex;
            gap: 0.5vw;
            .tag-regular:nth-child(1){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(60, 100, 247, 0.10);
                color: #3C64F7;
            }
            .tag-regular:nth-child(2){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(247, 60, 172, 0.10);
                color: #F73CAC;
            }
        }
    .hide-tag{
        opacity: 0;
    }
    } 
}
.process-card{
  display: inline-flex;
  padding: 1.8vw;
  width:  33.8vw;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25vw;
  border-radius: 1.25vw;
  border: 0.07vw solid #2A2240;
  background: #1E0C30;
  backdrop-filter: blur(0.7vw);
  .title-container{
    display: flex;
    gap: 1.25vw;
  }
  svg{
    height: 1vw;
  }
}
.hero-banner-card{
    display: inline-flex;
    padding: 1.3vw 0.5vw 0.5vw 0.5vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2vw;
    border-radius: 0.5vw;
    background: rgba(166, 157, 157, 0.30);
    backdrop-filter: blur(0.6vw);
    p{
        font-size: 0.7vw!important;
    }
    .xp{
        font-size: 0.6vw!important;
        font-weight: 600;
        color: #5EB791!important;
    }
    svg{
        width: 1.2vw;
        margin-top: -2vw;
    }
}

// RESPONSIVE
@media (max-width: 768px){
    .skill-card{
        display: flex;
        width: 24vw;
        padding: 2.5vw 6.2vw 2.5vw 5vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.3vw;
        border-radius: 0.6vw;
        border: 0.07vw solid #2A2240;
        background: rgba(26, 9, 38, 0.60);
        backdrop-filter: blur(0.7vw);
          svg{
              fill: white;
              height: 1.8vw;
              width: auto;    
          }
          h3{
              color: #FFFFFF;
              text-align: center;
          }
          p{
              color: #656565;
          }
          &:hover{
              border: 0.07vw solid #5A3FFF;
              transition: 0.5s ease-in-out;
          }
    }
    .project-card{
          position: relative;
          display: flex;
          justify-content: space-between;
          width:57.5vw!important;
          height: 90vw;
          padding: 3vw;
          border-radius: 1vw;
          border: 0.07vw solid #2A2240;
          box-shadow: 0vw 0vw 0vw 0vw rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 8px 5px 0px rgba(0, 0, 0, 0.05), 0px 14px 6px 0px rgba(0, 0, 0, 0.01), 0px 22px 6px 0px rgba(0, 0, 0, 0.00);
          backdrop-filter: blur(0.7vw);

          .coming-soon-wrapper{
            gap: 4vw;
            .coming-soon{
                font-size: 4vw;
                margin-top: -1.5vw!important;
            }
          }

          .project-description{
            font-family: Source Code Pro;
            color: #C8C8C8;
          }
        .tags{
              gap: 2vw;
              display: flex;
              align-items: flex-start;
              .tags-row{
                  gap: 1vw;
                  .tag-regular:nth-child(1){
                      padding:  0.2vw 0.5vw;
                      gap: 2vw;
                      border-radius: 0.8vw;
                      background: rgba(94, 183, 145, 0.10);
                  }
                  .tag-regular:nth-child(2){
                      padding:  0.2vw 0.5vw;
                      gap: 2vw;
                      border-radius: 0.8vw;
                  }
              }
              .tags-row2{
                  width: 100%;
                  display: flex;
                  gap: 2vw;
                  .tag-regular:nth-child(1){
                      padding:  0.2vw 0.5vw;
                      gap: 2vw;
                      border-radius: 0.8vw;
                  }
                  }
                .tags-row3{
                    gap: 2vw;
                .tag-regular:nth-child(1){
                    padding:  0.2vw 0.5vw;
                    gap: 2vw;
                    border-radius: 0.8vw;
                }
                .tag-regular:nth-child(2){
                    padding:  0.2vw 0.5vw;
                    gap: 2vw;
                    border-radius: 0.8vw;
                }
          }
        }

    } 
    .process-card{
            display: inline-flex;
            padding: 4vw;
            width:  60vw;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1.25vw;
            border-radius: 1.25vw;
            border: 0.07vw solid #2A2240;
            background: #1E0C30;
            backdrop-filter: blur(0.7vw);
            .title-container{
              display: flex;
              gap: 1.25vw;
            }
            svg{
              height: 4.5vw;
            }
    }
    .hero-banner-card{
              padding: 1.3vw 2vw 1.3vw 2vw;
              gap: 0.2vw;
              border-radius: 1vw;
              background: rgba(166, 157, 157, 0.30);
              backdrop-filter: blur(0.6vw);
              p{
                font-size: 3vw!important;
            }
              .xp{
                  font-size: 3vw!important;
                  font-weight: 600;
                  color: #5EB791!important;
              }
              svg{
                width: 5vw!important;
                margin-top: -4vw!important;
            }
    }
}

    
