.cascade8-hero{
    position: relative;
    height: auto;
    width: 100%;
    padding: 10vw 9.5vw 4vw 9.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    .tags{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row!important;
        align-items: center;
        justify-content: center;
        gap: 0.5vw;
            .tag-regular:nth-child(1){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(94, 183, 145, 0.10);
                color: #5EB791;
            }
            .tag-regular:nth-child(2){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(187, 60, 247, 0.10);
                color: #BB3CF7;
            }
            .tag-regular:nth-child(3){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(255, 204, 106, 0.10);
                color: #FFCC6A;
            }
            .tag-regular:nth-child(4){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(247, 60, 172, 0.10);
                color: #F73CAC;
            }
            .tag-regular:nth-child(5){
                display: flex;
                padding:  0.2vw 0.5vw;
                justify-content: center;
                align-items: center;
                gap: 0.5vw;
                border-radius: 0.2vw;
                background: rgba(60, 100, 247, 0.10);
                color: #3C64F7;
            }
    .hide-tag{
        opacity: 0;
    }
    }
    .primary-button{
        z-index: 0;
        gap: 1vw;
    }
    .project-banner-container{
        position: relative;
        padding: 2vw;
        background: rgba(166, 157, 157, 0.30);
        backdrop-filter: blur(4.5px);
        border-radius: 1vw;
        img{
            // height: 80%;
            box-shadow: 0px 14px 50px 7px rgba(0, 0, 0, 0.29);
            border-radius: 1vw;
        }
    }
}
.project-intro{
    padding: 0vw 9.5vw 4vw 9.5vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: relative;
    
    .project-intro-triple{
        padding: 0vw 10vw 0vw 10vw;
        margin-top: 4vw;
        display: flex;
        justify-content: space-around!important;
        gap: 4vw;
        span{
            background: rgba(255, 204, 106, 0.10);
            border-radius: 0.4vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.2vw 0.5vw 0.2vw 0.5vw;
            gap: 0.5vw;
            width: fit-content;
            margin-bottom: 1vw;
            p{
                color: #FFCC6A;
            }
            svg{
                height: 1vw;
                fill: #FFCC6A!important;
            }
        }
    }
    .navigation-button-group{
        padding: 8vw 0vw 8vw 0vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2vw;
        .navigation-button-row-container{
            display: flex;
            gap: 2vw;
            .navigation-button-group-column{
                display: flex;
                flex-direction: column;
                gap: 2vw;
            }
        }
        
    }
}
.focus-intro{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .problem-statement{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2vw;
    }
    a{
        text-decoration-color: white;
        transition: 0.3s;

        &:hover{
            transform: translateY(2px);
            transition: 0.3s;
        }
    }
}
.focus-intro-features-wrapper{
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
    .intro-feature{
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        width: 25vw;
        p{
            font-weight: 200;
        }
    }
}
.double-row-align-start{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4vw;
    margin-top: 8vw!important;
    img{
        width: 50%;
    }

}
.double-row-centered{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    img{
        width: 50%;
    }

}
.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}
.divider{
    height: 0.1vw;
    background-color: white;
    width: 100%;
}
.minus-margin{
    margin-top: -4vw;
}