.louise-hero {
    position: relative;
    height: auto;
    width: 100%;
    padding: 10vw 9.5vw 4vw 9.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    .tags {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        gap: 0.5vw;

        .tag-regular:nth-child(1) {
            display: flex;
            padding: 0.2vw 0.5vw;
            justify-content: center;
            align-items: center;
            gap: 0.5vw;
            border-radius: 0.2vw;
            background: rgba(94, 183, 145, 0.10);
            color: #5EB791;
        }
        .tag-regular:nth-child(2) {
            display: flex;
            padding: 0.2vw 0.5vw;
            justify-content: center;
            align-items: center;
            gap: 0.5vw;
            border-radius: 0.2vw;
            background: rgba(60, 100, 247, 0.10);
            color: #3C64F7;
        }
        .tag-regular:nth-child(3) {
            display: flex;
            padding: 0.2vw 0.5vw;
            justify-content: center;
            align-items: center;
            gap: 0.5vw;
            border-radius: 0.2vw;
            background: rgba(187, 60, 247, 0.10);
            color: #BB3CF7;
        }
        .tag-regular:nth-child(4) {
            display: flex;
            padding: 0.2vw 0.5vw;
            justify-content: center;
            align-items: center;
            gap: 0.5vw;
            border-radius: 0.2vw;
            background: rgba(255, 204, 106, 0.10);
            color: #FFCC6A;
        }
        .tag-regular:nth-child(5) {
            display: flex;
            padding: 0.2vw 0.5vw;
            justify-content: center;
            align-items: center;
            gap: 0.5vw;
            border-radius: 0.2vw;
            background: rgba(247, 60, 172, 0.10);
            color: #F73CAC;
        }
    }

    .project-banner-container {
        position: relative;
        padding: 2vw;
        background: rgba(166, 157, 157, 0.30);
        backdrop-filter: blur(4.5px);
        border-radius: 1vw;

        img {
            box-shadow: 0px 14px 50px 7px rgba(0, 0, 0, 0.29);
            border-radius: 1vw;
        }
    }
}
